# #{{{number}}} {{{title}}}

![{{> pull-or-issue}} {{state}}](../assets/badges/{{> pull-or-issue}}-{{state}}.svg)
{{#labels}}
![label: {{name}}](../assets/badges/label-{{name}}.svg)
{{/labels}}

{{{body}}}
